@using Microsoft.AspNetCore.Identity
@model KMITL_WebDev_MiniProject.Models.RegisterViewModel
@{
	Layout = "~/Views/Shared/_Re_Log.cshtml";
}

<link rel="stylesheet" href="~/css/Auth/Register.css" asp-append-version="true" />

<div class="Header-login">
	<h2>Register</h2>
	<p> Join with us ! </p>
</div>

<form asp-action="Register" method="POST" class="Register">
	<div class="Input-textBox">
		<input asp-for="FirstName" placeholder=" "  required/>
		<label asp-for="FirstName"></label>
		<span asp-validation-for="FirstName"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="LastName" placeholder=" "  required/>
		<label asp-for="LastName"></label>
		<span asp-validation-for="LastName"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="UserName" placeholder=" " required/>
		<label asp-for="UserName"></label>
		<span asp-validation-for="UserName"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="Email" placeholder=" " required/>
		<label asp-for="Email"></label>
		<span asp-validation-for="Email"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="Password" placeholder=" " id="pwd-1" class="pwd_input_box" required/>
		<label asp-for="Password"></label>
		<span asp-validation-for="Password"></span>

		<div class="show-passwd">
			<img src="/image/eye_open.svg" alt="Show Password" />
		</div>

	</div>
	<div class="Input-textBox" id="pwd2">
		<input asp-for="ConfirmPassword" placeholder=" " id="pwd-2" class="pwd_input_box" required/>
		<label asp-for="ConfirmPassword"></label>
		<span asp-validation-for="ConfirmPassword"></span>

		<div class="show-passwd">
			<img src="/image/eye_open.svg" alt="Show Password" />
		</div>

	</div>
	<div class="login-error" id="pwd_not_match" style="display:none; margin:20px 0 0 0;">
		Password do not match.
	</div>
	<div class="radio-sex">
		<div>
			<input asp-for="Sex" required/ type="radio" id="M" name="Sex" value=0>
			<label asp-for="Sex" for="M">
				<img src="/image/man.svg" alt="man option" />
			</label>
			<span asp-validation-for="Sex"></span>
		</div>
		<div>
			<input asp-for="Sex" required/ type="radio" id="F" name="Sex" value=1>
			<label asp-for="Sex" for="F">	
				<img src="/image/woman.svg" alt="woman option" />
			</label>
			<span asp-validation-for="Sex"></span>
		</div>
		<div>
			<input asp-for="Sex" required/ type="radio" id="O" name="Sex" value=2>
			<label asp-for="Sex" for="O">
				<img src="/image/other.png" alt="other option" />
			</label>
			<span asp-validation-for="Sex"></span>
		</div>
	</div>
	<div class="Input-textBox" >
		<input asp-for="PhoneNumber" pattern="^\d{1,10}$" required/>
		<label asp-for="PhoneNumber"></label>
		<span asp-validation-for="PhoneNumber"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="DateOfBirth" type="date" required/>
		<label asp-for="DateOfBirth"></label>
		<span asp-validation-for="DateOfBirth"></span>
	</div>
	<input type="hidden" asp-for="ImagePath"/>

	@* this for show error if Register not success -> Reason for paste here is u can read before you press submit again *@
	@{
		if(ViewBag.errors != null)
		{
			IdentityError[] errors = ViewBag.errors;
	}
		@if(ViewBag.errors != null)
		{
			<ul class="login-error">
				@foreach(var error in (IdentityError[])ViewBag.errors)
				{
					<li>@error.Description</li>
				}
			</ul>
		}

	}


	<button type="submit" class="submit-button"><p>Register</p></button>
</form>


<script src="~/js/Auth/Register.js" asp-append-version="true"></script>
