@model KMITL_WebDev_MiniProject.Models.RegisterViewModel
@{
	Layout = "~/Views/Shared/_Re_Log.cshtml";
}

<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<form asp-action="RegisterInsertProfile" method="POST" class="Register">
	<div class="Input-textBox">
		<input asp-for="FirstName" placeholder=" "  required/>
		<label asp-for="FirstName"></label>
		<span asp-validation-for="FirstName"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="LastName" placeholder=" "  required/>
		<label asp-for="LastName"></label>
		<span asp-validation-for="LastName"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="UserName" placeholder=" " required/>
		<label asp-for="UserName"></label>
		<span asp-validation-for="UserName"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="Email" placeholder=" " required/>
		<label asp-for="Email"></label>
		<span asp-validation-for="Email"></span>
	</div>
	<div class="Input-textBox">
		<input asp-for="Password" placeholder=" " required/>
		<label asp-for="Password"></label>
		<span asp-validation-for="Password"></span>

		<div class="show-passwd">
			<img src="/image/eye_open.svg" alt="Show Password" />
		</div>

	</div>
	<div class="Input-textBox">
		<input asp-for="ConfirmPassword" placeholder=" " required/>
		<label asp-for="ConfirmPassword"></label>
		<span asp-validation-for="ConfirmPassword"></span>

		<div class="show-passwd">
			<img src="/image/eye_open.svg" alt="Show Password" />
		</div>

	</div>
	<div>
		<div>
			<input asp-for="Sex" required/ type="radio" value=0>
			<label asp-for="Sex">Male</label>
			<span asp-validation-for="Sex"></span>
		</div>
		<div>
			<input asp-for="Sex" required/ type="radio" value=1>
			<label asp-for="Sex">Female</label>
			<span asp-validation-for="Sex"></span>
		</div>
		<div>
			<input asp-for="Sex" required/ type="radio" value=2>
			<label asp-for="Sex">Other</label>
			<span asp-validation-for="Sex"></span>
		</div>
	</div>
	<div >
		<input asp-for="PhoneNumber" required/>
		<label asp-for="PhoneNumber"></label>
		<span asp-validation-for="PhoneNumber"></span>
	</div>
	<div>
		<input asp-for="DateOfBirth" type="date" required/>
		<label asp-for="DateOfBirth"></label>
		<span asp-validation-for="DateOfBirth"></span>
	</div>
	<input type="hidden" asp-for="ImageURL"/>

	<button type="submit" class="submit-button"><p>Register</p></button>
</form>


<script>
	// check login fail or pass using ViewBag
	window.registerFailed = @((ViewBag.register != null && ViewBag.register.ToString() == "0") ? "true" : "false");
</script>
<script src="~/js/Register.js" asp-append-version="true"></script>