@{
	Layout = "~/Views/Shared/_Re_Log.cshtml";
}

<link rel="stylesheet" href="~/css/RegisterInsertProfile.css" asp-append-version="true" />

<h2>Please Insert Your Image</h2>

<div asp-validation-summary="All"></div>

<form asp-action="RegisterInsertProfile" method="POST" enctype="multipart/form-data">
	<div>
		<label for="image_upload">Choose images to upload (PNG, JPG)</label>
		<button class="img-box" for="image_upload">
			<input name="profilePicture" type="file" id="image_upload" accept=".jpg, .jpeg, .png">
			<label for="image_upload">Upload here !</label>
		</div>
		<span></span>
	</div>
	<div class="preview">
      <p>No files currently selected for upload</p>
    </div>
	<button type="submit" class="submit-button"><p>Submit</p></button>
</form>


<script src="~/js/RegisterInsertProfile.js" asp-append-version="true"></script>
