<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Web App</title>
    <link rel="stylesheet" href="~/css/Layout/site.css" />
</head>
<body>
    <header class="custom-header">
        <div class="header-left">
            <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
            <div class="logo">LOGO</div>
        </div>
      
        <form asp-controller="Search" method="GET" class="search-container">
            <input name="keyword" id="keyword" class="search-input" placeholder="Search..." value="@ViewData["CurrentKeyword"]" >
            <button type="submit" style="display:none"></button>
        </form>


        <div class="user-profile">  
            <div class="user-icon">
                <a asp-controller="User" asp-action="Profile">?</a>
            </div>
        </div>
    </header>

    <div class="main-container">
        <aside id="sidebar" class="sidebar">
            <nav class="sidebar-nav">
                <a asp-controller="Home" asp-action="Index" class="nav-item active">Home</a>               
                <a href="#" class="nav-item">Popular</a>
                <a asp-controller="Search"  class="nav-item">
                    Search
                    <img src="/image/man.svg" alt="search" style="height: 15px;"/>
                </a>
                
                <div class="nav-section">Your activity</div>
                <hr class="nav-divider">
                <div class="nav-section">Favourite</div>
            </nav>
            
            <a class="btn-create" asp-controller="Activity" asp-action="Create">Create Activity</a>
        </aside>

        <main class="content-area">
            @RenderBody()
        </main>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('show');
        };
    </script>
    <script src="~/js/Search/SearchUser.js"></script>
    <script src="~/js/Layout/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
@* <script src="~/js/Search/SearchUser.js"></script> *@
