@using Microsoft.AspNetCore.Identity
@using KMITL_WebDev_MiniProject.Entites
@inject UserManager<UserAccount> UserManager

@{
    // ดึงข้อมูล User ปัจจุบัน
    var user = await UserManager.GetUserAsync(User);
    
    // ตั้งค่า Path เริ่มต้นเป็นรูป Guest
    string displayPath = "image/UserProfile/guest_picture.jpg";

    // ถ้า Login อยู่และมี ImagePath ให้ใช้ค่าจาก Database
    if (user != null && !string.IsNullOrEmpty(user.ImagePath))
    {
        displayPath = user.ImagePath;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Web App</title>
    <link rel="stylesheet" href="~/css/Layout/site.css" asp-append-version="true" />
</head>
<body>
    <header class="custom-header">
        <div class="header-left">
            <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
            <div class="Logo">
                <img src="/image/icon2_C.png" alt="Logo" />
            </div>
        </div>
      
        <form asp-controller="Search" asp-action="Index" method="GET" class="search-container">
            <input name="keyword" id="keyword" class="search-input" placeholder="Search for anything" value="@ViewData["CurrentKeyword"]" autocomplete="off">
            
            <div id="submit-button">
                <img src="/image/search.svg" alt="Search" />
            </div>	

            <ul class="suggestion-box" style="display: none;">
                </ul>

            <button type="submit" style="display:none"></button>
        </form>

        
        <a asp-controller="User" asp-action="Profile" class="Profile-img">
            <img src="@Url.Content($"~/{displayPath}")" 
                asp-append-version="true" 
                alt="Profile" />
        </a>
            
    </header>

    <div class="main-container">
        <aside id="sidebar" class="sidebar">
            <nav class="sidebar-nav">
                <a asp-controller="Home" asp-action="Index" class="nav-item active">
                    <div class="sidebar-item">
                        <img src="/image/home.svg" alt="search" />
                        Home
                    </div>
                </a>               
                <a href="#" class="nav-item">
                    <div class="sidebar-item">
                        <img src="/image/we_going_up_uP_UP.svg" alt="search" />
                        Popular
                    </div>
                </a>
                <a asp-controller="Search" asp-action="Index"  class="nav-item">
                    <div class="sidebar-item">
                        <img src="/image/compose.svg" alt="search" />
                        Search
                    </div>
                </a>
                
                <div class="nav-section">Your activity</div>
                <hr class="nav-divider">
                <div class="nav-section">Favourite</div>
            </nav>
            
            <a class="btn-create" asp-controller="Activity" asp-action="Create">Create Activity</a>
        </aside>

        <main class="content-area">
            @RenderBody()
        </main>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('show');
        };
    </script>
    <script src="~/js/Layout/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
