<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KMITL_WebDev_MiniProject</title>
    <script type="importmap"></script>
  
    @* google font -> Roboto*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    @if(User.Identity.IsAuthenticated){
        <div>You gonna see this if you were logged in</div>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <a asp-controller="Account" asp-action="Profile">Profile</a>
        @* <a asp-controller="Account" asp-action="Profile">Search</a> *@
    }
    
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>