<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Web App</title>
    <link rel="stylesheet" href="~/css/Layout/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header class="custom-header">
        <div class="header-left">
            <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
            <div class="logo">LOGO</div>
        </div>
        
        <div class="search-container">
            <input type="text" id="search-bar" class="search-input" placeholder="Search...">
        </div>

        <div class="user-profile">
            <div class="user-icon">?</div>
        </div>
        <form asp-controller="Auth" asp-action="Logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </header>

    <div class="main-container">
        <aside id="sidebar" class="sidebar">
            <nav class="sidebar-nav">
                <a href="#" class="nav-item active">Home</a>
                <a href="#" class="nav-item">Popular</a>
                
                <div class="nav-section">Your activity</div>
                <hr class="nav-divider">
                <div class="nav-section">Favourite</div>
            </nav>
            
            <button class="btn-create">Create Activity</button>
        </aside>

        <main class="content-area">
            @RenderBody()
        </main>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('show');
        };

        let timeout = null;
        document.getElementById("search-bar").addEventListener("keyup", () => {
            clearTimeout(timeout);
            timeout = setTimeout(liveSearch, 800);
        });

        function liveSearch() {
            console.log("doing");
            let value = document.getElementById("search-bar").value;
            
            $.ajax({
                type: "POST",
                url: '@Url.Action(controller: "Search", action: "SearchByUsername")',
                data: { Username: value },
                datatype: "html",
                success: (data) => {
                    $("#activity-grid").html(data);
                } 
            });
        }
    </script>
</body>
</html>