<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KMITL_WebDev_MiniProject</title>
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/css/Layout/re_log.css" />
    @* google font -> Roboto*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="Login-box">

        @RenderBody()

    </div>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>