@{
    ViewData["Title"] = "Login Page";
	ViewData["Name"] = "Paramed";
}

@model KMITL_WebDev_MiniProject.Models.LoginViewModel
<link rel=stylesheet" href="~/css/Login.css" />	
<body>
<div class="Login-box">
	<div class="Header-login">
		<h2>Login </h2>
		<p> Welcome ! </p>
	</div>

	<div asp-validation-summary="All"></div>
	<form asp-action="Login" method="POST" class="Login">
		<div class="Email-box">
			<label asp-for="Email"></label>
			<input asp-for="Email" required/>
			<span asp-validation-for="Email"></span>
		</div>
		<div>
			<label asp-for="Password"></label>
			<input asp-for="Password" required/>
			<span asp-validation-for="Password"></span>
		</div>
		<div>
			<label asp-for="RememberMe"></label>
			<input asp-for="RememberMe"/>
			<span asp-validation-for="RememberMe"></span>
		</div>
		<button type="submit">Login</button>
	</form>

	<a asp-controller="Account" asp-action="Register" class="Register" >Register</a>
</div>
</body>