@{
    ViewData["Title"] = "Login Page";
	ViewData["Name"] = "Paramed";
	Layout = "~/Views/Shared/_Re_Log.cshtml";
}

@model KMITL_WebDev_MiniProject.Models.LoginViewModel
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="Header-login">
	<h2>Log in</h2>
	<p> Welcome ! </p>
</div>
	
<div asp-validation-summary="All" class="something"></div>
<form asp-action="Login" method="POST" class="Login">
	<div class="Email-box">
		<input asp-for="Email" placeholder=" " required/>
		<label asp-for="Email"></label>
		<span asp-validation-for="Email"></span>
	</div>
	<div class="Password-box">
		<input asp-for="Password" placeholder=" " id="password" required/>
		<label asp-for="Password"></label>
		<span asp-validation-for="Password"></span>

		<div id="show-passwd">
			<img src="~/image/eye_open.svg" alt="Show Password" />
		</div>

	</div>
	<div class="Remember-box">
		<input asp-for="RememberMe"/>
		<label asp-for="RememberMe"></label>
		<span asp-validation-for="RememberMe"></span>
	</div>
	<div class="Register-page">
		<p>
			Don't have an account?
			<a asp-controller="Account" asp-action="Register" class="Register" >Register</a>
		</p>
	</div>
	
	<button type="submit" class="submit-button"><p>Log-in</p></button>

</form>

<script>
	// check login fail or pass using ViewBag
	window.loginFailed = @((ViewBag.login != null && ViewBag.login.ToString() == "0") ? "true" : "false");
</script>
<script src="~/js/Login.js" asp-append-version="true"></script>