@{
    ViewData["Title"] = "Home Page";
}

@model KMITL_WebDev_MiniProject.Models.ProfileViewModel


<div class="text-center">
    <ul>
        <li>@Model.FirstName</li>
        <li>@Model.LsatName</li>
    </ul>
</div>
