@{
    ViewData["Title"] = "Home Page";
}

@model KMITL_WebDev_MiniProject.Models.ProfileViewModel


<h3>Profile</h3>
<div asp-validation-summary="All"></div>
<form asp-action="ProfileUpdate" method="post">
	<div>
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName" required/>
		<span asp-validation-for="FirstName"></span>
	</div>
	<div>
		<label asp-for="LastName"></label>
		<input asp-for="LastName" required/>
		<span asp-validation-for="LastName"></span>
	</div>
	<div>Reputation: @Model.Reputation</div>
	<button type="submit">Save</button>
</form>