@{
    ViewData["Title"] = "Home Page";
}

@model KMITL_WebDev_MiniProject.Models.ProfileViewModel


<div class="text-center">
    <h3>Profile</h3>
    <ul>
        <li>@Model.FirstName</li>
        <li>@Model.LastName</li>
    </ul>
</div>

<a asp-controller="Account" asp-action="ProfileEdit">Edit</a>