
html {
    padding: 0px;
    margin: 0px;

    /* this fix for problem element don't render full page */
    min-height: 100%;     

}


* { 
    /* outline: 1px solid red !important; */
    box-sizing: border-box; margin: 0; padding: 0; }
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; overflow-x: hidden; 

    margin: 0px;
    min-height: 100vh;
}

.custom-header {
    background-color: #FF7061;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    max-width: 100%
}

.Logo { 
    color: white; 
    font-weight: bold; 
    font-size: 1.5rem; 

    height: 100%
}

.Logo img {
    height: 25px;
    width: auto;
    display: block;
}


/* search bar */
.search-container {
    width: 100%;
    max-width: 400px;

    display: flex;
    justify-content: center;
    position: relative;

}


.search-input {
    padding: 8px 15px;
    width: 100%;
    outline: none;
    margin: 0 10px;

    border: 2px solid transparent;
    border-radius: 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; overflow-x: hidden;
    position: relative;
    z-index: 10;
    background-color: white;
}

.search-input:focus{
    border-color: #007bff;

    outline: none;
}


/* Profile-picture */
.Profile-img {
    height: 40px;
    width: 40px;

}

.Profile-img img{
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;

    outline: 2px solid #f0f0f0;
}

#submit-button{
    position: absolute;
    top: 50%;
    right: 1rem; 
    transform: translateY(-50%);
    
    display: flex;
    align-items: center;    
    
    width: 1.5rem;
    z-index: 15;
    
    cursor: pointer;
}

#submit-button img {
    width: 90%;
    height: auto; 
}

/* suggestion box */
.suggestion-box{
    position: absolute;
    top: calc(100% - 15px);
    left: 0;
    right: 0;

    background: white;
    border: 2px solid #d0d0d0;
    border-top: none;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);

    z-index: 5; 
    list-style: none;
    overflow-y: auto;
    max-height: 200px;

    margin: 0 10px;
    padding-top: 10px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
}

.suggestion-item:hover {
    background-color: #f8f9fa; 
}

/* user profile */
.user-icon {
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 10px;
}

/* Layout แบ่งหน้าจอ */
.main-container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    height: calc(100vh - 60px);
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
 
    position: fixed;
    z-index: 999;
    
}

.sidebar a:hover{
    text-decoration: none;
}

.sidebar a:not(.active):hover{
    background-color: #ececec;
}

.nav-item {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    margin-bottom: 15px; 
}

.nav-item.active { background-color: #e0e0e0; font-weight: bold; }

.nav-section { margin-top: 20px; font-size: 0.8rem; color: #888; padding: 0 15px; }
.nav-divider { margin: 10px 15px; border: 0.5px solid #eee; }

.btn-create {
    margin-top: auto;
    padding: 12px;

    background-color: #FF7061;
    color: white;
    border: none;
    border-radius: 25px;

    font-weight: bold;
    
    cursor: pointer;

    width: 100%;

    display: flex;
    justify-content: center;
    align-self: center; 
}

/* for icon in side bar */
.sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item img {
    padding-right: 5px;
    height: 20px;
}

/* Content Area */
.content-area { 
    flex: 1; 
    padding: 25px; 
    background-color: #fff; 

    padding-left:  275px;
}


/* anchor */
a {
    color: #7661d2;
    text-decoration: none;
    width: fit-content;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 10px;
    }

    /* make logo disappeat is better that search bar disappear */
    .Logo { 
        display: none;
    }  


    .sidebar {
        position: fixed;
        left: -250px;
        top: 60px;
        z-index: 999;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }

    .sidebar.show {
        left: 0;
    }

    .content-area{
        padding-left: 25px;
    }
}

@media (min-width: 769px) {
    .menu-toggle { display: none; } 
}