@using KMITL_WebDev_MiniProject.DTO
@model List<KMITL_WebDev_MiniProject.DTO.ShowCommentDTO>

<link rel="stylesheet" href="~/css/Activity/Comment.css" />

@{
	foreach(ShowCommentDTO show in Model) 
	{
		<div class="comment-detail-container">
			<div class="Profile">
				<img src="@Url.Content("~/" + show.ImagePath)"/>
				<div><strong>@show.UserName</strong></div>
			</div>

			<div class="Content">@show.Content</div>
		</div>
	}
}