@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Search/Index.css" asp-append-version="true" />

<h2>Search</h2>


<script src="~/js/Search/Index.js" asp-append-version="true"></script>
