/* header box */
.Header-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
}
.Header-login > h2 {
    border-right: solid 2px grey;
    padding: 0px 20px; 
}
.Header-login > p {
    color: gray;
    font-weight: 200;
}

/* login box */
.Login form{
    display: flex;
}   

.Email-box {
    
}

.Password-box{

}

.Remember-box{

}

button {
    
}

a {
    color: #7661d2;
    text-decoration: none;
}