.email_box {
    background-color: #FF6F61;
    font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    letter-spacing: .02em;

    
}   