html {
    padding: 0px;
    margin: 0px;
    min-height: 100%;      /* If don't do this it will not full html page and background will glitch with gradient*/

}

body {
    background-color: #FF6F61;
    background: linear-gradient(135deg,rgba(255, 111, 97, 1) 0%, rgba(255, 154, 145, 1) 50%, rgba(252, 215, 215, 1) 100%);
    background-attachment: fixed; /* lock background */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-sizing: border-box; /* เปลี่ยนการคำนวณ width and height*/

    font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    letter-spacing: .02em;

    margin: 0px;
    min-height: 100vh;
    
}   

/* big box */
.Login-box {
    background-color: #FFFFFF;
    /* border: solid 2px rgb(43, 55, 73); */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* https://getcssscan.com/css-box-shadow-examples */

    width: 100vw;
    max-width: 500px;
    height: auto;
    min-height: 650px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    box-sizing: border-box;
    margin: 50px;
    padding: 36px 52px;    
    height: auto;
}

@media (max-width: 500px){
    .Login-box{
        margin: 0px;
        border-radius: 0px;
        height: 100vh;
        
        
    }
}