html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #FF6F61;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-sizing: border-box; /* เปลี่ยนการคำนวณ width and height*/

    font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    letter-spacing: .02em;

    margin: 0px;
}   

/* big box */
.Login-box {
    background-color: #FFFFFF;
    border: solid 2px black;
    border-radius: 20px;

    width: 100vw;
    max-width: 500px;
    height: auto;
    min-height: 650px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    margin: 20px
}

@media (max-width: 500px){
    .Login-box{
        margin: 0px;
        border-radius: 0px;
        height: 100vh;
        
    }
}