form img {
      height: 64px;
      order: 1;
      
      margin: 10px;

}

form label, form button {
      background-color: #7F9CCB;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px ridge black;
      font-size: 0.8rem;
      height: auto;
}

form label:hover, form button:hover {
    background-color: #2D5BA3;
    color: white;
}

form label:active, form button:active {
    background-color: #0D3F8F;
    color: white;
}