html {
  font-size: 14px;
  background-color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a {
    color: #7661d2;
    text-decoration: none;
}

.custom-header {
    background-color: #FF7061;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1050;
}

.sidebar {
    position: sticky;
    top: 60px; 
}

.active-item {
    background-color: #D9D9D9;
    color: black !important;
    font-weight: bold;
}

.btn-create {
    background-color: #FF7061;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    font-weight: bold;
}

.btn-create:hover {
    background-color: #e56557;
    color: white;
}

.content-area {
    min-height: calc(100vh - 60px);
}

@media (max-width: 767.98px) {

    .sidebar {
        position: fixed;
        top: 60px; 
        left: 0;
        width: 100%;
        height: auto !important;
        z-index: 1040;
        background-color: #f8f9fa !important;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        padding-bottom: 20px;
    }


    .search-container {
        display: none; 
    }


    .content-area {
        width: 100% !important;
        padding: 15px !important;
    }
}
.navbar-toggler {
    border: none;
    color: white;
}